img {
    max-height: 250px;
    width: auto;
  }
  
  #answerarea {
    text-align: center;
  
  }
  
  #questionarea {
    text-align: center;
    font-weight: bold;
  }
  
  #reset {
    visibility: visible;
  }
  
  body {
    background-image: url(../images/QUEENS.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Karla', sans-serif;
    
  }
  
  h1 {
    text-align: center;
    color: purple !important;
    font-weight: bolder;
    padding: 20px;
    font-size: 50px;
  }
  
  p {
    margin: 10px;
    font-weight: bold;
    color: red;
    font-size: 20px;
  }
  
  h2, h4 {
    margin: 30px;
    font-weight: bold;
  }
  
  .container {
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid #403fd3;
    height: 500px;
    width: 60%;
    text-align: center;
    padding-bottom: 30%;
    padding-top: 5%;
  }
  
  .btn {
    position: relative;
    bottom: -150px;
    
  }