img {
    max-height: 100px;
    width: auto;
    position: relative;
  }
  
  .queen {
    margin-top: 2%;
     }

  .design {
    background-color: bisque;
    margin-top: -6%;
   
  }

  #answerarea {
    text-align: center;
  
  }
  
  #questionarea {
    text-align: center;
    font-weight: bold;
  }
  
  #reset {
    visibility: visible;
  }
  
  body {
    background-image: url(../images/warriors.jpeg);
   background-size: 100% !important;
    background-repeat: round;
    font-family: 'Karla', sans-serif;
    margin-right: 20% !important;
    margin-left: 20% !important;
    margin-top: 10% !important;
   
    
  }
  
  h1 {
    text-align: center;
    color: purple !important;
    font-weight: bolder;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
    padding: 5px;
    font-size: 60px !important;
  }
  
  p {
    margin: 10px;
    font-weight: bold;
    color: black;
    font-size: 20px;
  }
  
  h2, h4 {
    margin: 30px;
    font-weight: bold;
  }
  
  .container {
    margin: 50px auto;
    background-color: palevioletred;
    border: 4px solid #d60b60;
    height: 500px;
    width: 60%;
    text-align: center;
    padding-bottom: 30%;
    padding-top: 5%;
  }
  
  .btn {
    position: relative;
    bottom: -80px;
   
  }

  #reset {
    position: relative;
    bottom: 60px;
    background-color: #500424;
    border-color: palevioletred;
  }

  #start {
    background-color: #500424;
    border-color: palevioletred;
  }

  #decorate {
    background-color: plum;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }